// @import "src/@fuse/scss/fuse";

app-utilisateur{

    .inventory-grid {
        grid-template-columns: auto 100px 100px 100px 220px 105px 100px 20px;

        @screen sm {
            grid-template-columns: auto 100px 100px 100px 220px 105px 100px 20px;
        }

        @screen md {
            grid-template-columns: auto 100px 100px 100px 220px 105px 100px 20px;
        }

        @screen lg {
            grid-template-columns: auto 100px 100px 100px 220px 105px 100px 20px;
        }
    }
}
